{{define "Index"}}

<!Doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Http Redirect </title>
    </head>
    <body>
        <form action="/bar" method="post">
            <label for="first"> First name: </label> <br>
            <input type="text" id="first" name="first"> <br>
            <input type="submit" id="submit-btn" name="submit-btn"> <br>
        </form>
    </body>
</html>

{{end}}