<!DOCTYPE html>
<html lang="en">
<html>
<head>
<meta charset="UTF-8">
<title> Struct </title>
</head>
<body>
<p1> This is a plain old struct </p1>
<h1> {{.}} </h1>
<h1> First Name: {{.Fname}}, Last Name: {{.Lname}} </h1>
</body>
</html>