<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> DB </title>
    </head>
    <body>
        <a href="/"> Index </a> <br>
        <a href="/read"> Read </a> <br>
        <a href="/insert"> Insert Amigo </a> <br>
        <a href="/delete"> Delete Amigo </a> <br>
        <a href="/createCust"> Create Customer Table </a> <br>
        <a href="/dropCust"> Drop Customer Table </a> <br>
        <a href="/addCust"> Add Customer </a> <br>
        <a href="/getCust"> Get Customer </a> <br>
        <a href="/searchCust"> Search Customer </a> <br>
        <a href="/instance"> Show instance details </a> <br>
        {{template "footer" .M}}
    </body>
</html>