<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title> Friends In SG </title>
</head>
<p1> My friends in SG </p1>
<ul>
    {{range .}}
       <li> {{.}} </li>
    {{end}}
</ul>
<body>
</body>
</html>