{{define "Dog"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Public </title>
</head>
<body>
    <p> This is Toby from public </p>
    <img src="/pics/Toby.jpg">
</body>
</html>
{{end}}

{{define "MyDog"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Public </title>
</head>
<body>
    <p> This is My Dog from public </p>
    <img src="/pics/mydog/cutedog.jpeg">
</body>
</html>
{{end}}