<!DOCTYPE html>
<html lang="en>
<head>
<meta charset="UTF-8">
<title> Sages - 3 </title>
</head>
<body>
<p1> These are my sages and their 3 letters abbreviations using my function </p1>
<ul>
    {{range .}}
        <li> {{three .}}-> {{.}} - {{up .}}</li>
    {{end}}
</ul>
<body>
</html>
