<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> index </title>
    </head>
    <body>
        <a href="/user/{{.}}"> GOTO: //localhost:8080/user/{{.}} </a> <br>
    </body>
</html>