{{define "Genius"}}
<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Genius </title>
</head>
<body>
    {{template "Header" .Header}}
    {{template "Body" .Body}}
    {{template "Footer" .Footer}}
</body>
</html>
{{end}}