{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Redirects </title>
    </head>
    <body>
        <form action="/bar" method="post">
            <label for="first"> First name: </label>
            <input type="text" name="first" id="first"> <br>
            <input type="submit" name="submit-btn" id="submit-btn"> <br>
        </form>
    </body>
</html>
{{end}}