{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"> 
        <title> Redirect 307 </title>
    </head>
    <body>
        <form action="/bar" method="post">
            <label for="first"> First name </label>
            <input type="text" id="first" name="first"> <br>
            <input type="submit" id="submit-btn" name="submit-btn"> <br>
        </form>
    </body>
</html>
{{end}}