<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Bar </title>
    </head>
    <body>
        <h1> welcome to the bar </h1>
        {{if .First}}
            {{.First}} <br>
            {{.Last}} <br>
            {{.Un}} <br>
            {{.Role}} <br>
        {{end}}
        <a href="/logout"> Logout </a> <br>
    </body>
</html>