<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
    </head>
    </body>
        <form method="post" action="/login">
            <label for="username"> Username: </label>
            <input type="text" name="username" id ="username"> <br>
            <label for="pwd"> Password: </label>
            <input type="text" name="pwd" id="pwd"> <br>
            <input type="submit" name="submit-btn" id="submit-btn"> <br>
        </form>
    </body>
</html>