{{define "Index"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Yo Dog ! </title>
</head>
<body>
    <!-- Not serving -->
    <h1>Cute Dog from wikimedia </h1>
    <a href="/DogDone">
     <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Golde33443.jpg">
    </a> </br>
      <a href="/DogDone">
      <!-- This will not do anything since we have not set up to serve -->
     <img src="/tobg.jpg">
    </a> </br>
</body>
</html>

{{end}}