{{define "Dog"}}
<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title> Serve Dog </title>
        </head>
        <body>
            <p> This is from Dog </p>
            <img src="/resources/Toby.jpg">
        </body>
    </html>
{{end}}