<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Index </title>
    </head>
    <body>
        <h1> Hi! This is the photo blog index </h1>
        <p> The cookie values are: </p>
        <ul>
            <li> {{.Name}}, {{.Value}}, {{.MaxAge}} </li>  
        </ul>
        <br>
        <a href="/addFile"> Add Photo </a> <br>
    </body>
</html>